.rmsc_update {
    --rmsc-main: #fefeff !important;
    --rmsc-hover: #364b5d !important;
    --rmsc-selected: #54bb7b !important;
    --rmsc-border: #ccc !important;
    --rmsc-gray: #aaa !important;
    --rmsc-bg:#364b5d !important;
    --rmsc-p: 10px !important;
    --rmsc-radius: 4px !important;
    --rmsc-h: 38px !important;
}