.rmsc_update {
    --rmsc-main: #fefeff !important;
    --rmsc-hover: #1D2B39 !important;
    --rmsc-selected: #2b2c2e !important;
    --rmsc-border: #ccc !important;
    --rmsc-gray: #aaa !important;
    --rmsc-bg: #1D2B39 !important;
    --rmsc-p: 10px !important;
    --rmsc-radius: 10px !important;
    --rmsc-h: 38px !important;
}