@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 210, 33%, 17%;
    --foreground: 210 40% 98%;
    --card: 207, 28%, 24%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 208 14% 45%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --switcher: 145 63% 42%;
    --switch-unchecked: ;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.error-field {
  color: rgb(228, 103, 31);
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  height: 100vh;
}


 /* colors buttons dark */


.dark-background {
  background-color: #1D2B39 !important;
}


.destructive {
  color: #E64800 !important;
  background-color: #EB575733 !important;
}

.destructive:hover {
  color: white !important;
  background-color: #E64800 !important;
}

.primary {
  background-color:#2D9CDB80 !important;
}

.primary:hover {
  background-color: #2D9CDB !important;
}

.success {
  color: #27AE60 !important;
  background-color: #27AE6033 !important;
}

.success:hover {
  color: white !important;
  background-color: #27AE60 !important;
}


.orange {
  background-color: #F2994A !important;
}


.orange:hover {
  background-color: rgb(255, 88, 66) !important;
}

.purple:hover {
  background-color: #bc6dd9 !important;
}

.purple {
  background-color: #9B51E080;
}

.dark-border-table {
  border-bottom: 1px solid #637483;
  border-bottom-width: 1px !important;
}

.dark-border-navbar {
  border-bottom: 1px solid #637483;
  border-bottom-width: 1px !important;
}

.switcher-unchecked {
  background-color: #000 !important;
}

.switcher-checked {
  background-color: rgb(34 197 94) !important;
}

/* colors text dark */

.success-text {
  color: #27AE60 !important;
}

.orange-text {
  color: #F2994A !important;
}

.gray-text {
  color: #64798C;
}

.white-text {
  color: white;
}

.destructive-text {
  color: #E64800 !important;
}

.purple-text {
  color: #D865E4 !important
}


/* other */

.border-none-focus:focus {
  border: none !important;
  outline: 0 !important;
  outline-width: 0 !important;
  
}

.border-input-dark {
  border: 2px solid #637483;
}

.text-decoration-none {
  text-decoration: none !important;
}

.border-input-linear {
  background: linear-gradient(90deg, rgba(66,90,111,1) 0%, rgba(100,121,140,1) 100%);
}